<div class="ekart--product--container">
  <app-search (searchTextChanged)="setSearchText($event)"></app-search>
  <product-list [searchText]="searchText" #productListComponent></product-list>
  <product-details
    *ngIf="productListComponent.selectedProduct"
    [productListComp]="productListComponent"
  ></product-details>

  <div class="ekart-featured-products">
    <div class="ekart-featured-product-heading">
      <h1>Novedades en Marcas Populares</h1>
    </div>

    <featured>
      <h3 class="title">Novedades de Nike</h3>
      <button class="call-to-action">Novedades de Nike</button>
    </featured>
    <featured>
      <h3 class="title">Novedades de Adidas</h3>
      <button class="call-to-action">Novedades de Adidas</button>
    </featured>
    <featured>
      <h3 class="title">Novedades de Rebook</h3>
      <button class="call-to-action">Novedades de Rebook</button>
    </featured>
  </div>
</div>
