<div class="ekart-product-details-info scroll">
  <div class="ekart-product-detail-close">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="ekart-product-details-image">
    <img
      src="https://cdn-images.buyma.com/resizer/item/200625/0055842477/269619559/org.jpg?w=583&h=583"
      alt="zapatillas vans"
      class="ekart-product-details-image"
    />
  </div>

  <div class="ekart-product-details">
    <div class="ekart-product-details-name">
      <h2>Michael February SK8-Hi</h2>
    </div>
    <div class="ekart-product-details-gbc">
      <span>MEN</span>
      <span>NIKE</span>
      <span>SPORTS</span>
    </div>
    <div class="ekart-product-details-price">
      <p>
        <b>Precio por Par:</b>
        <span style="background-color: red; color: white"><s>$699</s></span>
        <span style="background-color: green; color: white">$599</span>
        (Impuestos incluidos)
      </p>
    </div>
    <div class="ekart-product-details-size">
      <div style="padding: 5px 0px; border-bottom: #ccc 2px solid">
        <h4>Tamaños Disponibles</h4>
      </div>
      <div style="margin-top: 20px">
        <span class="ekart-product-details-available-size">6</span>
        <span class="ekart-product-details-available-size">7</span>
      </div>
    </div>
    <div class="ekart-product-detail-color">
      <div style="padding: 5px 0px; border-bottom: #ccc 2px solid">
        <h4>Available Color</h4>
      </div>
      <diV style="margin-top: 20px">
        <span
          class="ekart-product-detail-available-color"
          style="background-color: red"
        ></span>
        <span
          class="ekart-product-detail-available-color"
          style="background-color: green"
        ></span>
        <span
          class="ekart-product-detail-available-color"
          style="background-color: black"
        ></span>
        <span
          class="ekart-product-detail-available-color"
          style="background-color: blue"
        ></span>
      </diV>
    </div>

    <div class="ekart-product-detail-desc">
      <div style="padding: 5px 0px; border-bottom: #ccc 2px solid">
        <h4>Descripción del Producto</h4>
      </div>
      <div style="margin-top: 20px">
        <p>DESCRIPCIÓN</p>
      </div>
    </div>
  </div>
  <div class="ekart-product-detail-addtoCart">
    <button class="btn-add-to-cart">AGREGAR AL CARRITO</button>
  </div>
</div>
<div class="overlay"></div>
